<!doctype html><html lang=en-us>
<head>
<title>Overriding the Theme 404 Page | BIS 402</title>
<meta charset=utf-8>
<meta name=language content="en">
<meta name=description content>
<meta name=keywords content>
<meta name=viewport content="width=device-width,initial-scale=1">
<meta charset=utf-8>
<meta http-equiv=x-ua-compatible content="IE=edge">
<meta name=twitter:card content="summary">
<meta name=twitter:title content="Overriding the Theme 404 Page">
<meta name=twitter:description content>
<meta name=twitter:site content="@m2web">
<meta name=twitter:creator content="https://twitter.com/m2web">
<link rel="shortcut icon" href=images/favicon.ico type=image/x-icon>
<meta name=keywords content="NKU,Northern Kentucky University,BIS 402,Programming for E-Business">
<link type=text/css rel=stylesheet href=/css/post.min.c5add25d085ddb1cc7e7a5ff301594eae1551e02ebc1796214f532aa7d639c9c.css integrity="sha256-xa3SXQhd2xzH56X/MBWU6uFVHgLrwXliFPUyqn1jnJw=">
<link type=text/css rel=stylesheet href=/css/custom.min.e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css integrity="sha256-47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=">
<script type=application/ld+json>{"@context":"http://schema.org","@type":"BlogPosting","mainEntityOfPage":{"@type":"WebPage","@id":"https:\/\/bis402.github.io\/"},"articleSection":"blog","name":"Overriding the Theme 404 Page","headline":"Overriding the Theme 404 Page","description":"","inLanguage":"en-US","author":"","creator":"","publisher":"","accountablePerson":"","copyrightHolder":"","copyrightYear":"2021","datePublished":"2021-10-21 05:39:14 -0400 -0400","dateModified":"2021-10-21 05:39:14 -0400 -0400","url":"https:\/\/bis402.github.io\/blog\/404\/","wordCount":"247","keywords":["Blog"]}</script>
</head>
<body>
<div class=burger__container>
<div class=burger aria-controls=navigation aria-label=Menu>
<div class="burger__meat burger__meat--1"></div>
<div class="burger__meat burger__meat--2"></div>
<div class="burger__meat burger__meat--3"></div>
</div>
</div>
<nav class=nav id=navigation>
<ul class=nav__list>
<li>
<a href=/>about</a>
</li>
<li>
<a class=active href=/blog>blog</a>
</li>
</ul>
</nav>
<main>
<div class=flex-wrapper>
<div class=post__container>
<div class=post>
<header class=post__header>
<h1 id=post__title>Overriding the Theme 404 Page</h1>
<time datetime="2021-10-21 05:39:14 -0400 -0400" class=post__date>Oct 21 2021</time>
</header>
<article class=post__content>
<p>My next steps was to override the theme&rsquo;s 404 page. I did this by copying the <code>themes/layouts/404.html</code> file to <code>themes</code> folder off the root of the site. Here is the contents of the file:</p>
<pre><code class=language-html>{{ define &quot;styles&quot; }}
    {{ $.Scratch.Set &quot;style_opts&quot; (dict &quot;src&quot; &quot;scss/pages/404.scss&quot; &quot;dest&quot; &quot;css/404.css&quot;) }}
{{ end }}

{{ define &quot;main&quot; }}
&lt;article&gt;
  &lt;h1&gt;
    This is not the page you were looking for
  &lt;/h1&gt;
&lt;/article&gt;
{{ end }}
</code></pre>
<p>Next, I updated the <code>404.html</code> file content to carry on the allusion to the A New Hope Star Wars movie by updating the text displayed to the user:</p>
<pre><code class=language-html>  &lt;h1&gt;
    This is not the page you were looking for...move along (by selecting the about or blog link to the left).
  &lt;/h1&gt;
</code></pre>
<p>After viewing the page in the browser, I noticed that the text displayed to the user was too large. I updated the text via changing the header tag size to <code>h2</code>.</p>
<p><img src=images/diff1.png alt="Diff Image"></p>
<p>I then committed the changes to the <code>404.html</code> file and pushed the changes to the <code>main</code> branch. After the GitHub Action completed the build, I was able to see the changes reflected in the browser.</p>
<p>Then, after that I made another change to the <code>404.html</code> file. I added an H1 tag to the top of the page and changed the H2 tag to an H3 tag.</p>
<pre><code class=language-html>&lt;article&gt;
  &lt;h1&gt;Oops! 404&lt;/h1&gt;
  &lt;h3&gt;
    This is not the page you were looking for...move along (by selecting the about or blog 
    link to the left or the menu above).
  &lt;/h3&gt;
&lt;/article&gt;
</code></pre>
</article>
<div class=pagination>
<a class=pagination__item href=https://bis402.github.io/blog/from-the-readme/>
<span class=pagination__label>Previous Post</span>
<span class=pagination__title>From the Readme</span>
</a>
</div>
<footer class=post__footer>
<div class=social-icons>
<a class=social-icons__link title=Twitter href=https://twitter.com/m2web target=_blank rel="me noopener">
<div class=social-icons__icon style=background-image:url(https://bis402.github.io/svg/twitter.svg)></div>
</a>
<a class=social-icons__link title=GitHub href=https://github.com/BIS402 target=_blank rel="me noopener">
<div class=social-icons__icon style=background-image:url(https://bis402.github.io/svg/github.svg)></div>
</a>
</div>
<p>© 2021</p>
</footer>
</div>
</div>
</div>
</main>
<script src=/js/index.min.575dda8d49ee02639942c63564273e6da972ab531dda26a08800bdcb477cbd7f.js integrity="sha256-V13ajUnuAmOZQsY1ZCc+balyq1Md2iagiAC9y0d8vX8=" crossorigin=anonymous></script>
<script src=https://unpkg.com/prismjs@1.20.0/components/prism-core.min.js></script>
<script src=https://unpkg.com/prismjs@1.20.0/plugins/autoloader/prism-autoloader.min.js data-autoloader-path=https://unpkg.com/prismjs@1.20.0/components/></script>
</body>
</html>